.danse-user-notification-widget {
  position: relative;
  color: var(--color--white);
  background-color: var(--color--primary-40);
}
.danse-user-notification-widget .view-header {
  width: 2rem;
  height: 2rem;
  margin-block-start: var(--sp2);
  margin-block-end: 0;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
}
.danse-user-notification-widget .view-content,
.danse-user-notification-widget .view-empty {
  display: none;
}
.danse-user-notification-widget:hover .view-content,
.danse-user-notification-widget:hover .view-empty {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  display: block;
  overflow-y: auto;
  width: auto;
  max-height: 80vh;
  padding: 0.25rem;
  transition: all 2s;
  background-color: inherit;
}
.danse-user-notification-widget:hover .view-content a {
  white-space: nowrap;
  color: var(--color--white);
  line-height: 1.2rem;
}
.danse-user-notification-widget:hover .view-content a span.date {
  font-size: 0.5rem;
}
